body {
  color: #fff;
}

.header {
  background-image: url(/assets/image/headimage.png);
  width: 1920px;
  height: 1045px;
  padding-top: 50px;
}

.container {
 margin: 0 200px 0 200px;
}

ul {
  display: flex;
}


li {
  list-style: none;
  margin-right: 60px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.telephone {
  margin-left: 160px;
  border-bottom: 5px solid #D1A954;
}

.maintext {
  height: 296px;
  width: 540px;
}
.headintext {
  padding-top: 307px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 64px;
}
